:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  color: #213547;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(7, 62, 156, 1) 52%,
    rgba(5, 100, 181, 1) 64%,
    rgba(4, 112, 189, 1) 68%,
    rgba(0, 212, 255, 1) 100%
  );
}
